/*.form-control {*/
/*  width: 40% !important;*/
/*  border: 1px solid #dddddd;*/
/*  padding: 10px;*/
/*}*/

/*.control-error {*/
/*  border: 1px solid #f20000 !important;*/
/*}*/

/*.error-message{*/
/*  color: #ec392f;*/
/*  margin-bottom: 1%;*/
/*}*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}
.navbar {
  padding: .8rem;
}
.navbar-nav li {
  padding-right: 20px;
}
.nav-link {
  font-size: 1.1em !important;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}
.padding {
  padding-bottom: 2rem;
}
.welcome {
  width: 50%;
  margin: 0 auto;
  padding-top: 2rem;
}
.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  nargin-bottom: 1rem;
}
.fa-code {
  color: #e54d26;
  font-size: 4em;
  margin: 1rem;
}
.fa-bold {
  color: #563d7c;
  font-size: 4em;
  margin: 1rem;
}
.fa-css3 {
  color: #2163af;
  font-size: 4em;
  margin: 1rem;
}
:local(.social a) {
  font-size: 4.5em;
  padding: 3rem;
}
:local(.fa-facebook) {
  color: #3b5998;
}
.fa-twitter {
  color: #00aced;
}
.fa-google-plus-g {
  color: #dd4b39;
}
.fa-instagram {
  color: #517fa4;
}
.fa-youtube {
  color: #bb0000;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-youtube:hover {
  color: #d5d5d5
}
footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}
hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
footer a {
  color: #d5d5d5;
}
hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}


/*---Mediat Queries --*/
@media (max-width: 992px){

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed background image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('../../../loggo.png'); /*--- Add an image --*/
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
/*---Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}
