/*!*http://colorpalettes.net/color-palette-3958!*/

/*:local(.body) {*/
/*    margin-left: 50px;*/
/*}*/

/*:local(.dropdown) {*/
/*    display: inline-block;*/
/*    width: 200px;*/
/*    padding: 15px 30px 10px;*/
/*    margin-right: 10px;*/
/*    float: right;*/
/*}*/

/*:local(.pagetitle) {*/
/*    display: inline-block;*/
/*    width: 50%;*/
/*    margin: auto;*/
/*    text-align: center;*/
/*    margin-bottom: 30px;*/
/*    margin-top: 10px;*/
/*    color: #80807E;*/
/*}*/

/*:local(.generalcontainer) {*/
/*    width: 1400px;*/
/*    margin: auto;*/

/*}*/

/*:local(.divBtn) {*/
/*    text-align: center;*/


/*    margin: auto;*/

/*}*/


/*:local(.home) {*/
/*    width: 100vw;*/
/*    position: relative;*/
/*    left: 50%;*/
/*    right: 50%;*/
/*    margin-left: -50vw;*/
/*    margin-right: -50vw;*/
/*}*/

/*:local(.chartdisplay) {*/
/*    margin-top: 10px;*/
/*    display: inline-block;*/
/*    width: 50%;*/
/*    float: left;*/
/*}*/

/*:local(.background-image) {*/
/*    background-position: center;*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat;*/
/*    width: 100%;*/
/*    height: 1920px;*/
/*    background-image: url("../images/future-medicine.jpg");*/
/*}*/

/*:local(.back) {*/
/*    background-color: #FAFAF6;*/
/*}*/

/*:local(.titleSubtitleContainer) {*/
/*    display: inline-flex;*/
/*}*/

/*:local(.errorTitle) {*/
/*    font-weight: 400;*/
/*    font-size: 18px;*/
/*    color: #8e2807;*/
/*    letter-spacing: 1px;*/
/*}*/

/*:local(.errorText) {*/
/*    font-weight: 400;*/
/*    font-size: 16px;*/
/*    color: #8e2807;*/
/*    letter-spacing: 1px;*/
/*}*/

/*:local(.subtitle) {*/
/*    font-weight: 600;*/
/*    color: #537C8E;*/
/*    letter-spacing: 1px;*/
/*    text-transform: uppercase;*/
/*    margin-top: 1em;*/
/*    width: 30%;*/
/*}*/

/*:local(.cardLabelContainer) {*/
/*    display: table-cell;*/
/*    background-color: cornflowerblue;*/
/*    text-align: center;*/
/*    height: 2.5em;*/
/*}*/

/*:local(.cardLabel) {*/
/*    font-weight: 600;*/
/*    color: #FFFFFF;*/
/*    letter-spacing: 1px;*/
/*    vertical-align: middle;*/
/*    margin-top: 0.5em;*/
/*}*/

/*:local(.cardSubtitle) {*/
/*    font-weight: 600;*/
/*    color: #537C8E;*/
/*    letter-spacing: 1px;*/
/*    text-transform: uppercase;*/
/*    margin-top: 1em;*/
/*    width: 90%;*/
/*}*/

/*:local(.charttitle) {*/
/*    font-weight: 600;*/
/*    font-size: 16px;*/
/*    color: #537C8E;*/
/*    letter-spacing: 1px;*/
/*    position: relative;*/

/*    text-align: left;*/
/*    margin-left: 50px;*/
/*    margin-bottom: 20px;*/
/*}*/

/*:local(.paragraph){*/
/*    padding: 15px 30px;*/
/*    margin: 15px 0;*/
/*    font-weight: 400;*/
/*    font-size: 16px;*/
/*    line-height: 30px;*/
/*    color: #537C8E;*/
/*    letter-spacing: 1px;*/
/*    width: 600px;*/
/*}*/

/*:local(.title) {*/
/*    padding: 15px 30px 0px;*/
/*    display: inline-block;*/
/*    font-weight: 600;*/
/*    color: #537C8E;*/
/*    margin: 15px 0;*/
/*    letter-spacing: 1px;*/
/*    text-indent: 20px;*/
/*    text-transform: uppercase;*/
/*    line-height: 30px;*/
/*    border-bottom: 3px solid;*/
/*    -webkit-border-image: -webkit-linear-gradient(*/
/*            left,*/
/*            rgba(255, 255, 255, 1) 1%,*/
/*            rgba(46, 189, 189, 1) 50%,*/
/*            rgba(83, 124, 142, 1) 100%*/
/*    ) 0 0 100% 0/0 0 3px 0 stretch;*/
/*    -moz-border-image: -moz-linear-gradient(*/
/*            left,*/
/*            rgba(255, 255, 255, 1) 1%,*/
/*            rgba(46, 189, 189, 1) 50%,*/
/*            rgba(83, 124, 142, 1) 100%*/
/*    ) 0 0 100% 0/0 0 3px 0 stretch;*/
/*    -o-border-image: -o-linear-gradient(*/
/*            left,*/
/*            rgba(255, 255, 255, 1) 1%,*/
/*            rgba(46, 189, 189, 1) 50%,*/
/*            rgba(83, 124, 142, 1) 100%*/
/*    ) 0 0 100% 0/0 0 3px 0 stretch;*/
/*    border-image: linear-gradient(*/
/*            to left,*/
/*            rgba(255, 255, 255, 1) 1%,*/
/*            rgba(46, 189, 189, 1) 50%,*/
/*            rgba(83, 124, 142, 1) 100%*/
/*    ) 0 0 100% 0/0 0 3px 0 stretch;*/
/*}*/

/*:local(.search) {*/
/*    background: no-repeat scroll left / 20% auto rgba(0, 0, 0, 0);*/
/*    display: inline-block;*/
/*    color: #fef8ed;*/
/*    position: relative;*/
/*    vertical-align: middle;*/
/*    text-indent: 24px;*/
/*}*/

/*:local(.next) {*/
/*    background:  no-repeat scroll left / 30% auto rgba(0, 0, 0, 0);*/
/*    display: inline-block;*/
/*    color: #fef8ed;*/
/*    position: relative;*/
/*    vertical-align: middle;*/
/*    text-indent: 24px;*/
/*}*/
/*:local(.leftUpCorner) {*/
/*    position: relative;*/
/*    width: 800px;*/
/*    height: 300px;*/
/*}*/
/*:local(.leftDownCorner) {*/
/*    position: relative;*/
/*    width: 800px;*/
/*    height: 300px;*/
/*    margin-top: 0px;*/
/*}*/
/*:local(.chartTitle) {*/
/*    text-align: center;*/
/*    font-family: sans-serif;*/
/*}*/
/*:local(.chartLabel) {*/
/*    font-family: sans-serif*/
/*}*/

/*:local(.rightAllignelement) {*/
/*    float: right;*/
/*    margin-right: 5%;*/
/*}*/
/*:local(.leftAllignelement) {*/
/*    float: left;*/
/*    margin-left: 5%;*/
/*}*/
/*:local(.rowDisplay) {*/
/*    display:flex;*/
/*    flex-direction:row;*/
/*    margin-left: 5%;*/
/*    margin-top: 2%;*/
/*}*/

/*:local(.referencePricesGraphDisplay) {*/
/*    position: relative;*/
/*    width: 800px;*/
/*    height: 95%;*/
/*    margin-top: 0px;*/
/*}*/

/*:local(.middleAllign) {*/
/*    horiz-align: center;*/
/*}*/
/*:local(.container) {*/
/*    margin-left: 0;*/
/*    margin-bottom: 30px;*/
/*    margin-top: 1%;*/
/*}*/

/*:local(.parentOf2Tables) {*/
/*    display: flex;*/
/*}*/

/*:local(.leftCorner ) {*/
/*    position: relative;*/
/*    margin: auto;*/
/*    float: left;*/
/*    width: 45%;*/
/*    height: auto;*/
/*}*/

/*:local( .rightCorner ) {*/
/*    position: relative;*/
/*    float: right;*/
/*    margin: auto;*/
/*    width: 45%;*/
/*    height: auto;*/
/*}*/

/*:local(.columnDisplayDayAhead) {*/
/*    display:flex;*/
/*    flex-direction:column;*/
/*    position: relative;*/
/*    margin-left: 5%;*/
/*    margin-top: 2%;*/
/*}*/

/*:local(.monitoredDataTable) {*/
/*    width: 95%;*/
/*    height: 95%;*/
/*    margin-top: 2%;*/
/*    margin-left: 2%;*/
/*}*/

/*:local(.placeOrderButton) {*/
/*    width: 15%;*/
/*    height: 70px;*/
/*    margin-bottom: 2%;*/
/*}*/

/*:local(.tablesInRow) {*/
/*    width:800px;*/
/*    height: 350px;*/
/*    position: relative;*/

/*}*/

/*:local(.rowStyle) {*/
/*    height: 800px;*/
/*}*/

/*:local(.marginForColumn) {*/
/*    margin: 2%;*/
/*}*/

/*:local(.cardMargin) {*/
/*    margin-top: 4%;*/
/*}*/
/*:local(.rightPositionedTable) {*/
/*    margin-right: 40px;*/
/*    width: 800px;*/
/*}*/
/*:local(.tableColors) {*/
/*    background: #DCDCDC;*/
/*    border-color: #A9A9A9*/
/*}*/

/*body {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",*/
/*    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",*/
/*    sans-serif;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*}*/

/*code {*/
/*  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",*/
/*    monospace;*/
/*}*/

/*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

:local(.html), :local(.body) {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}
:local(.navbar) {
    padding: .8rem;
}
:local(.navbar-nav li) {
    padding-right: 20px;
}
:local(.nav-link) {
    font-size: 1.1em !important;
}
:local(.carousel-inner img) {
    width: 100%;
    height: 100%;
}
:local(.padding) {
    padding-bottom: 2rem;
}
:local(.welcome) {
    width: 50%;
    margin: 0 auto;
    padding-top: 2rem;
}
:local(.welcome hr) {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    nargin-bottom: 1rem;
}
:local(.fa-code) {
    color: #e54d26;
    font-size: 4em;
    margin: 1rem;
}
:local(.fa-bold) {
    color: #563d7c;
    font-size: 4em;
    margin: 1rem;
}
:local(.fa-css3) {
    color: #2163af;
    font-size: 4em;
    margin: 1rem;
}
:local(.social a) {
    font-size: 4.5em;
    padding: 3rem;
}
:local(.fa-facebook) {
    color: #3b5998;
}
:local(.fa-twitter) {
    color: #00aced;
}
:local(.fa-google-plus-g) {
    color: #dd4b39;
}
:local(.fa-instagram) {
    color: #517fa4;
}
:local(.fa-youtube) {
    color: #bb0000;
}
:local(.fa-facebook:hover),
:local(.fa-twitter:hover),
:local(.fa-google-plus-g:hover),
:local(.fa-instagram:hover),
:local(.fa-youtube:hover) {
    color: #d5d5d5
}
footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}
hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
footer a {
    color: #d5d5d5;
}
hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}


/*---Mediat Queries --*/
@media (max-width: 992px){

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}

/*---Firefox Bug Fix --*/
.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}
/*--- Fixed background image --*/
figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
}
.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#fixed {
    background-image: url('../../loggo.png'); /*--- Add an image --*/
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}
/*---Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

