
/*.field {*/
/*    width: 100%;*/
/*    height: 56px;*/
/*    border-radius: 4px;*/
/*    position: relative;*/
/*    background-color: #91E0F2;*/
/*    transition: 0.3s all;*/
/*}*/

/*::placeholder {*/
/*    color: black;*/
/*    opacity: 1;*/
/*}*/

/*.field:hover {*/
/*    background-color: rgba(255, 255, 255, 0.45);*/
/*    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);*/
/*}*/

/*.field.focused input {*/
/*    padding: 24px 16px 8px 16px;*/
/*    background-color: rgba(255, 255, 255, 0.45);*/
/*    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);*/
/*}*/

/*.field.focused input + label {*/
/*    top: 4px;*/
/*    opacity: 1;*/
/*    color: #012E40;*/
/*}*/

/*.field.locked {*/
/*    pointer-events: none;*/
/*}*/

/*.field input {*/
/*    width: 100%;*/
/*    height: 56px;*/
/*    position: relative;*/
/*    padding: 0px 16px;*/
/*    border: none;*/
/*    border-radius: 4px;*/
/*    font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;*/
/*    font-size: 16px;*/
/*    font-weight: 400;*/
/*    line-height: normal;*/
/*    background-color: transparent;*/
/*    color: #282828;*/
/*    outline: none;*/
/*    box-shadow: 0px 4px 20px 0px transparent;*/
/*    transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out, 0.1s padding ease-in-out;*/
/*    -webkit-appearance: none;*/
/*}*/

/*.field input + label {*/
/*    position: absolute;*/
/*    top: 24px;*/
/*    left: 16px;*/
/*    font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;*/
/*    font-size: 12px;*/
/*    font-weight: 600;*/
/*    line-height: 24px;*/
/*    color: #ffffff;*/
/*    opacity: 0;*/
/*    pointer-events: none;*/
/*    transition: 0.1s all ease-in-out;*/
/*}*/

/*.field input + label.error {*/
/*    color: #ec392f;*/
/*}*/

/*.field input::-webkit-input-placeholder {*/
/*    color: rgba(255, 255, 255, 0.8);*/
/*}*/

/*.field input::-moz-placeholder {*/
/*    color: rgba(255, 255, 255, 0.8);*/
/*}*/

/*.field input:-ms-input-placeholder {*/
/*    color: rgba(255, 255, 255, 0.8);*/
/*}*/

/*.field input:-moz-placeholder {*/
/*    color: rgba(255, 255, 255, 0.8);*/
/*}*/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}
:local(.navbar) {
    padding: .8rem;
}
:local(.navbar-nav li) {
    padding-right: 20px;
}
:local(.nav-link) {
    font-size: 1.1em !important;
}
:local(.carousel-inner img) {
    width: 100%;
    height: 100%;
}
.padding {
    padding-bottom: 2rem;
}
.welcome {
    width: 50%;
    margin: 0 auto;
    padding-top: 2rem;
}
.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    nargin-bottom: 1rem;
}
:local(.fa-code) {
    color: #e54d26;
    font-size: 4em;
    margin: 1rem;
}
:local(.fa-bold) {
    color: #563d7c;
    font-size: 4em;
    margin: 1rem;
}
:local(.fa-css3) {
    color: #2163af;
    font-size: 4em;
    margin: 1rem;
}
.social a {
    font-size: 4.5em;
    padding: 3rem;
}
:local(.fa-facebook) {
    color: #3b5998;
}
:local(.fa-twitter) {
    color: #00aced;
}
.fa-google-plus-g {
    color: #dd4b39;
}
.fa-instagram {
    color: #517fa4;
}
.fa-youtube {
    color: #bb0000;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-youtube:hover {
    color: #d5d5d5
}
footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}
hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
footer a {
    color: #d5d5d5;
}
hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}


/*---Mediat Queries --*/
@media (max-width: 992px){

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}

/*---Firefox Bug Fix --*/
.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}
/*--- Fixed background image --*/
figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
}
.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#fixed {
    background-image: url('../../../../loggo.png'); /*--- Add an image --*/
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}
/*---Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}
